# BigQuery
GCP_PROJECT_ID=tech-trends-489801
BQ_DATASET=raw
BQ_TABLE=github_events

# Service Account Key (path to your downloaded JSON key)
GOOGLE_APPLICATION_CREDENTIALS=keys/service-account.json

# Ingestion Config
INGEST_DATE=2024-01-15        # override date for GitHub ingestion (YYYY-MM-DD)
SURVEY_YEAR=2024              # which Stack Overflow survey year to ingest

GCP_SA_KEY_BASE64=your-base64-encoded-service-account-json